@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-source-sans: 'Source Sans 3', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-source-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair);
}
